<h1>Hola</h1>

<h2> <%= @portfolio[:info][:name]%> </h2>

<% 24.times do %>
	<br>
<% end %>

	<ul>
		<h3 id="info">Information</h3>
		<li> <%= @portfolio[:info][:name]%> </li>
		<li> <%= @portfolio[:info][:address]%> </li>
		<li> <%= @portfolio[:info][:age]%> </li>
	</ul>

<% 24.times do %>
	<br>
<% end %>

	<ul>
		<h3 id="studies">Studies</h3>
		<li> <%= @portfolio[:studies][:university]%>, <%= @portfolio[:studies][:grade_univ]%> </li>
		<li> <%= @portfolio[:studies][:master]%>, <%= @portfolio[:studies][:grade_master]%> </li>
	</ul>

<% 24.times do %>
	<br>
<% end %>

	<ul>
		<h3 id="work">Work experience</h3>
		<li><%= @portfolio[:work][:first][:title]%>, <%= @portfolio[:work][:first][:company]%></li>
		<li><%= @portfolio[:work][:second][:title]%>, <%= @portfolio[:work][:second][:company]%></li>
	</ul>